
    #x11{
        text-align: center;
        padding: 2px;
        border: 1px solid;
        background-color: rgb(201, 229, 238);
    }
    #x22{
        padding-top: 20px;
        padding-left: 500px;
        padding-bottom: 20px;
        margin-top: 10px;
        /* text-align: center; */
        border: 1px solid;
    }
    body{
        background-color: lightcyan;
    }
    input{
        width: 300px;
        height: 30px;
        border: 1px solid;
        border-radius: 3px;
    }
    p{  
        color: red;
    }
    button{
        border: 1px solid;
        border-radius: 2px;
    }